/* You can add global styles to this file, and also import other style files */
$corFundo: orange;

body{
    background-color: $corFundo;
}

.navbar.navbar-expand-lg.navbar-light {

    background-color: red;
    
}
